body{
    background-image: url("trade.jfif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;   
}
div{
    backdrop-filter: blur(10px); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    


    border: 5px;
    border-radius: 10px;
    border-color: rgb(0, 255, 64);
    border-style: outset;
    padding: 20px;
}
form{
    border: 15px;
    border-radius: 10px;
    border-color: rgb(0, 217, 255);
    border-style: outset;
    padding: 20px;


    background-color:whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.btn {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }